@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');

* {
  color: #DCD7C9;
  font-family: ui-sans-serif, system-ui;
  font-weight: bold;
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  background-color: rgb(39 39 42);
  margin: 0px;
}

.top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  height: 65.313px;
  border: #DCD7C9;
  border-style: solid;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-width: 2px;
}

.github {
  position: relative;
  bottom: 8px;
  text-decoration: none;
  font-size: 14pt;
  margin-right: 2%;
  padding: 9.333px;
}

.linkedin {
  position: relative;
  bottom: 8px;
  text-decoration: none;
  font-size: 14pt;
  margin-right: 2%;
  padding: 9.333px;
}

.twitter {
  position: relative;
  bottom: 8px;
  text-decoration: none;
  font-size: 14pt;
  margin-right: 2%;
  padding: 9.333px;
}

.contact-me {
  position: relative;
  background-color: transparent;
  padding: 8px 15px;
  box-shadow: 0.3em 0.2em 0 0 #A27B5C;
  border-radius: 0;
  border: 2px solid #A27B5C;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  bottom: 10px;
  text-decoration: none;
  font-weight: lighter;
}

.contact-me:hover {
  box-shadow:
    0 0 0 0 var(--hover),
    inset 6em 3.5em 0 0 var(--hover);
  transition: all 0.3s;
}

.name {
  position: relative;
  top: 20px;
  font-size: 14pt;
  margin-left: 17%;
  margin-right: 10px;
}

.text {
  width: 472px;
  height: 241px;
  padding: 0px 15px;
  margin-top: 300px;
  margin-left: 17%;
}

.page2 {
  position: absolute;
  height: 1080px;
  width: 100%;
  top: 1100px;
}

.contact-info {
  margin-left: 55%;
}

.paragraph {
  font-weight: lighter;
}